<ons-page>

    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="navigate.popPage(); $root.helpers.clearDetail();"><i class="fa-angle-left" style="font-size: 42px"></i></ons-toolbar-button>
        </div>
        <div class="center">About</div>
        <!--<div class="right" style="line-height: 44px">Right</div>-->
    </ons-toolbar>
    <!--<p style="text-align: center">
        <i style="font-size: 72px" class="fa-info-circle"></i>
    </p>
    <div style="display: block; text-align: left; padding: 30pt; padding-top: 0px">
        <p style="text-align: center">Lorem ipsum dolor sit amet</p>
        <p style="text-align: center; margin-top: -20px;">Lorem ipsum dolor sit amet</p>
        &lt;!&ndash;<p style="text-align: center">Version - 1.2.8</p>
        <p style="text-align: center; margin-top: -20px;">© 2015 Wipon</p>&ndash;&gt;
        <ons-button class="button&#45;&#45;large" style="margin: 0px">Send log</ons-button>
    </div>-->

    <content-panel>
        <p style="text-align: center">
            <i style="font-size: 72px" class="fa-info-circle"></i>
        </p>
        <p style="text-align: center">Lorem ipsum dolor sit amet</p>
        <p style="text-align: center; margin-top: -20px;">Lorem ipsum dolor sit amet</p>
        <ons-button class="button--large">Send log</ons-button>
    </content-panel>

</ons-page>