<ons-page id="profileController" ng-controller="profileController as vm">

    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button ng-click="navigate.popPage(); $root.helpers.clearDetail();"><i class="fa-angle-left" style="font-size: 42px"></i></ons-toolbar-button>
        </div>
        <div class="center">
            Profile
        </div>
        <div class="right">
            <ons-toolbar-button ng-click="vm.saveUserData();">Save</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="profile-item-page">
        <img class="profile-image"
             data-ng-src="{{$root.item.avatar ? $root.item.avatar : 'public/img/placeholder.jpg'}}"
             ng-click="console.log(this); vm.avatarTypeDialog.show();"/>
        <p style="color: white; margin: 0; padding: 0; padding-bottom: 10pt">{{vm.item.first_name}} {{vm.item.last_name}}</p>
    </div>

    <content-panel fixed-style>

        <div class="edit-text">
            <label>First name</label>
            <input type="text" class="data-text" ng-model="$root.item.first_name" auto-scroll-anchor>
        </div>
        <div class="edit-text">
            <label>Last name</label>
            <input type="text" class="data-text" ng-model="$root.item.last_name" auto-scroll-anchor>
        </div>
        <div class="edit-text">
            <label>Post</label>
            <select style="font-size: 14px; background: none; border: none; width: 100%; padding-top: 10pt" ng-model="$root.item.post">
                <option value="">Select post</option>
                <option value="post1">Post 1</option>
                <option value="post2">Post 2</option>
                <option value="post3">Post 3</option>
            </select>
        </div>
        <div class="edit-text" fixed-style>
            <label>Hospital</label>
            <select style="font-size: 14px; background: none; border: none; width: 100%; padding-top: 10pt; /*-webkit-appearance: none;*/" ng-model="$root.item.hospital.title">
                <option value="" disabled>Select hospital</option>
                <option ng-repeat="hospital in $root.item.hospitals_to_check" value="{{hospital.title}}">{{hospital.title}}</option>
            </select>
        </div>

    </content-panel>

    <!--<div class="profile-item-page">
        <img class="profile-image"
             data-ng-src="{{vm.item.avatar ? vm.item.avatar : 'public/img/placeholder.jpg'}}"
             ng-click="console.log(this); vm.avatarTypeDialog.show();"/>
        <p style="color: white; margin: 0; padding: 0; padding-bottom: 10pt">{{vm.item.first_name}} {{vm.item.last_name}}</p>
    </div>

    <content-panel fixed-style>

        <div class="edit-text">
            <label>First name</label>
            <input type="text" class="data-text" ng-model="vm.item.first_name" auto-scroll-anchor>
        </div>
        <div class="edit-text">
            <label>Last name</label>
            <input type="text" class="data-text" ng-model="vm.item.last_name" auto-scroll-anchor>
        </div>
        <div class="edit-text">
            <label>Post</label>
            <select style="font-size: 14px; background: none; border: none; width: 100%; padding-top: 10pt" ng-model="vm.item.post">
                <option value="">Select post</option>
                <option value="post1">Post 1</option>
                <option value="post2">Post 2</option>
                <option value="post3">Post 3</option>
            </select>
        </div>
        <div class="edit-text" fixed-style>
            <label>Hospital</label>
            <select style="font-size: 14px; background: none; border: none; width: 100%; padding-top: 10pt; /*-webkit-appearance: none;*/" ng-model="vm.item.hospital.title">
                <option value="" disabled>Select hospital</option>
                <option ng-repeat="hospital in vm.item.hospitals_to_check" value="{{hospital.title}}">{{hospital.title}}</option>
            </select>
        </div>

    </content-panel>-->

</ons-page>